#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#myClock {
  font-size: 80;
  font-family: System-Light;
  text-length: 128;
  text-anchor: end;
  x: 90%;
  y: 80;
  fill: white;
}

#myClockDate {
  font-size: 32;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  x: 90%;
  y: 110;
  fill: white;
}

#myHeartRate {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 10%;
  y: 75%;
  fill: white;
}

#mySteps {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 13%;
  y: 85%;
  fill: white;
}

#myCalories {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 18%;
  y: 94%;
  fill: white;
}